URxvt.font:           xft:monospace:size=17:style=Regular,\
                      xft:Font Awesome 6 Free Solid:style=Solid,\
                      xft:FontAwesome:style=Regular,\
                      xft:Font Awesome 6 Brands Regular:style=Regular,\
                      xft:Font Awesome v4 Compatibility Regular:style=Regular

URxvt.boldFont:       xft:monospace:size=17:style=Medium
URxvt.italicFont:     xft:monospace:size=17:style=Italic
URxvt.boldItalicFont: xft:monospace:size=17:style=Medium Italic

URxvt.scrollBar:      false

URxvt*background:     black
URxvt*foreground:     white


! blue
*.color4:       #00A8FF
*.color12:      #00A8FF

URxvt.keysym.Control-c: eval:selection_to_clipboard
URxvt.keysym.Control-v: eval:paste_clipboard
URxvt.keysyn.Control-v: eval:paste_primary
URxvt.keysym.Control-Up: eval:scroll_up 10
URxvt.keysym.Control-Down: eval:scroll_down 10 


URxvt.secondaryScroll: False
URxvt.secondaryWheel: True

URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

